In [70]:
import pandas as pd
import os
import csv
import numpy as np
from ast import literal_eval

In [71]:
embedding_csv = '/home/steffi/dev/independent_study/fairface_margin_025/embeddings/val.csv'

In [72]:
fair_face_embeddings = pd.read_csv(embedding_csv, quoting=csv.QUOTE_ALL, delimiter=',')

In [73]:
fair_face_embeddings["embedding"] = fair_face_embeddings["Embedding"].apply(lambda embedding: np.array(','.join(','.join(embedding[2:-2].split(' \n')).split()).split(','), dtype=float))

In [74]:
fair_face_embeddings["embedding"]

0        [-0.05386611, 0.01993527, 0.00893965, 0.031526...
1        [0.0348725021, 0.00640029414, -0.056903068, 0....
2        [0.06216666, -0.05233046, -0.0059502, 0.013866...
3        [-0.000873833487, 0.0371679589, -0.0318444781,...
4        [0.051412221, -0.062113259, -0.00522496132, -0...
                               ...
10680    [-0.0138173448, 0.0197667647, -0.0103327064, 0...
10681    [-0.05680135, 0.02913453, -0.08381858, 0.00884...
10682    [0.0067224591, 0.0178392399, -0.00750362594, -...
10683    [0.0373807214, 0.0433106422, -0.0413672514, 0....
10684    [-0.0128802313, 0.0069440268, -0.12778008, -0....
Name: embedding, Length: 10685, dtype: object

In [75]:
fair_face_embeddings["file"] = fair_face_embeddings["Image Path"].apply(lambda im_path: '/'.join(im_path.split('/')[-2:]))

In [76]:
fair_face_embeddings.drop(columns=["Image Path", "Embedding"], inplace=True)

In [77]:
fair_face_embeddings.head()

                                           embedding           file
0  [-0.05386611, 0.01993527, 0.00893965, 0.031526...   val/7357.jpg
1  [0.0348725021, 0.00640029414, -0.056903068, 0....     val/58.jpg
2  [0.06216666, -0.05233046, -0.0059502, 0.013866...   val/7415.jpg
3  [-0.000873833487, 0.0371679589, -0.0318444781,...   val/6918.jpg
4  [0.051412221, -0.062113259, -0.00522496132, -0...  val/10716.jpg

# Joing Dataframes: FairFace train labels and face embeddings

In [78]:
labels_csv = '/home/steffi/dev/independent_study/fairface_margin_025/fairface_label_val.csv'

In [79]:
labels = pd.read_csv(labels_csv)

In [80]:
labels.head()

        file    age  gender             race  service_test
0  val/1.jpg    3-9    Male       East Asian         False
1  val/2.jpg  50-59  Female       East Asian          True
2  val/3.jpg  30-39    Male            White          True
3  val/4.jpg  20-29  Female  Latino_Hispanic          True
4  val/5.jpg  20-29    Male  Southeast Asian         False

In [81]:
merged = pd.merge(labels, fair_face_embeddings, how='inner', on='file', sort=False)

In [82]:
merged.head()

,file,age,gender,race,service_test,embedding
0,val/1.jpg,3-9,Male,East Asian,False,"[0.0484567136, -0.00913126301, -0.0400391705, ..."
1,val/2.jpg,50-59,Female,East Asian,True,"[0.04715871, -0.02396604, 0.00136523, 0.033040..."
2,val/3.jpg,30-39,Male,White,True,"[0.00141945924, 0.0192974322, 0.0426698066, -0..."
3,val/4.jpg,20-29,Female,Latino_Hispanic,True,"[-0.05520888, 0.01734873, -0.03055536, -0.0035..."
4,val/5.jpg,20-29,Male,Southeast Asian,False,"[0.047757227, 0.0394236222, -0.00373216323, 0...."

In [83]:
merged_csv = '/home/steffi/dev/independent_study/fairface_margin_025/embeddings/val_labels_and_embeddings.csv'
merged.to_csv(merged_csv, index=False)

## Read file

In [84]:
merged_r = pd.read_csv(merged_csv, converters={"file": str, "age": str, "gender": str, "race": str, "service_test": np.bool} )

In [85]:
merged_r["new_emb"] = merged_r["embedding"].apply(
            lambda embedding: np.array(','.join(','.join(embedding[2:-2].split(' \n')).split()).split(','),
                                       dtype=float))

In [86]:
merged_r.head(20)

,file,age,gender,race,service_test,embedding,new_emb
0,val/1.jpg,3-9,Male,East Asian,True,[ 4.84567136e-02 -9.13126301e-03 -4.00391705e-...,"[0.0484567136, -0.00913126301, -0.0400391705, ..."
1,val/2.jpg,50-59,Female,East Asian,True,[ 0.04715871 -0.02396604 0.00136523 0.033040...,"[0.04715871, -0.02396604, 0.00136523, 0.033040..."
2,val/3.jpg,30-39,Male,White,True,[ 1.41945924e-03 1.92974322e-02 4.26698066e-...,"[0.00141945924, 0.0192974322, 0.0426698066, -0..."
3,val/4.jpg,20-29,Female,Latino_Hispanic,True,[-0.05520888 0.01734873 -0.03055536 -0.003565...,"[0.05520888, 0.01734873, -0.03055536, -0.00356..."
4,val/5.jpg,20-29,Male,Southeast Asian,True,[ 4.77572270e-02 3.94236222e-02 -3.73216323e-...,"[0.047757227, 0.0394236222, -0.00373216323, 0...."
5,val/6.jpg,30-39,Male,Latino_Hispanic,True,[-5.99951949e-03 5.00990413e-02 3.01431417e-...,"[0.00599951949, 0.0500990413, 0.0301431417, 0...."
6,val/7.jpg,20-29,Male,Black,True,[ 0.06674936 0.0163155 0.02250849 0.046139...,"[0.06674936, 0.0163155, 0.02250849, 0.04613972..."
7,val/8.jpg,3-9,Male,East Asian,True,[-0.01446323 0.03308391 -0.05262879 0.047281...,"[0.01446323, 0.03308391, -0.05262879, 0.047281..."
8,val/9.jpg,20-29,Male,Southeast Asian,True,[ 1.12972194e-02 4.75134924e-02 -7.38028623e-...,"[0.0112972194, 0.0475134924, -0.00738028623, 0..."
9,val/10.jpg,3-9,Male,Southeast Asian,True,[ 0.05958653 -0.01847768 0.0470682 0.047578...,"[0.05958653, -0.01847768, 0.0470682, 0.0475788..."
10,val/11.jpg,more than 70,Female,East Asian,True,[ 7.93787837e-02 -2.91758049e-02 3.26978527e-...,"[0.0793787837, -0.0291758049, 0.0326978527, 0...."
11,val/12.jpg,50-59,Female,East Asian,True,[-9.22663510e-03 2.20906921e-02 2.73518357e-...,"[0.0092266351, 0.0220906921, 0.0273518357, -0...."
12,val/13.jpg,40-49,Female,Indian,True,[ 2.65660733e-02 -2.60093529e-02 -1.53633347e-...,"[0.0265660733, -0.0260093529, -0.0153633347, 0..."
13,val/14.jpg,20-29,Male,Indian,True,[ 0.05601739 0.03827547 -0.02076561 -0.007439...,"[0.05601739, 0.03827547, -0.02076561, -0.00743..."
14,val/15.jpg,30-39,Female,Latino_Hispanic,True,[-0.02545799 0.08046132 -0.04295544 -0.063803...,"[0.02545799, 0.08046132, -0.04295544, -0.06380..."
15,val/16.jpg,50-59,Male,Middle Eastern,True,[-5.88122942e-02 8.78512766e-03 -6.99097216e-...,"[0.0588122942, 0.00878512766, -0.0699097216, 0..."
16,val/18.jpg,20-29,Female,White,True,[ 2.24974509e-02 4.05588336e-02 9.05269466e-...,"[0.0224974509, 0.0405588336, 0.000905269466, 0..."
17,val/19.jpg,40-49,Male,White,True,[ 1.56943835e-02 -3.97000425e-02 -5.12858629e-...,"[0.0156943835, -0.0397000425, -0.0512858629, -..."
18,val/20.jpg,40-49,Female,Middle Eastern,True,[-0.00087576 0.01406411 0.03683482 -0.000691...,"[0.00087576, 0.01406411, 0.03683482, -0.000691..."
19,val/21.jpg,20-29,Male,East Asian,True,[-2.82185823e-02 1.61416288e-02 -2.19622832e-...,"[0.0282185823, 0.0161416288, -0.0219622832, 0...."

In [87]:
merged_r["age"].unique()

array(['3-9', '50-59', '30-39', '20-29', 'more than 70', '40-49', '10-19',
       '60-69', '0-2'], dtype=object)